/*--RESETTING------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");
/*@import url("https://fonts.googleapis.com/css?family=Raleway:800");*/

*{box-sizing: border-box;}
html,body{margin:0;padding:0;height:100%;}
body{color: #666;font-family:"Open Sans",sans-serif;font-size:14px;font-weight:400;line-height:24px;}
a{transition:all 200ms;-webkit-transition:all 200ms;text-decoration:none;color:inherit;}
p{margin-top:0px; margin-bottom: 22px;}
ul{color:#24292e;}
img{display: block;}
pre{text-align: center; margin: 4.5px 0;}
pre a{color:#be4b49;}
input,textarea,select{height:33px;margin-bottom:15px;color:#4c4c4c;border:1px solid #e1e1e1;box-shadow:none;direction: ltr;
background:rgba(254,254,254,0.6);border-radius:0;transition:all 200ms;resize:none;text-align:left;}
textarea{height:calc(100% - 220px)}
input:not(.send),textarea{width:100%;padding:0 5px;}
/*input:focus,textarea:focus{outline:0;border:1px solid #c1c1c1 !important;background:rgba(254,254,254,0.6);box-shadow:none}*/
input:focus,textarea:focus,select:focus{outline:0;border:1px solid #c1c1c1 !important;box-shadow:none}

input::-webkit-input-placeholder { color:#4c4c4c; }
input:-moz-placeholder { color:#4c4c4c; } /* FF 4-18 */
input::-moz-placeholder { color:#4c4c4c; } /* FF 19+ */
input:-ms-input-placeholder { color:#4c4c4c; } /* IE 10+ */

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

@-webkit-keyframes
show{from{transform:translate3d(0px,0,0px) scale3d(0,0,0);opacity:0;}to{transform:translate3d(0px,0,0px) scale3d(1,1,1);opacity:1}}
@keyframes
show{from{transform:translate3d(0px,0,0px) scale3d(0,0,0);opacity:0;}to{transform:translate3d(0px,0,0px) scale3d(1,1,1);opacity:1}}

/*--GLOBALS------------------------------------------*/
.width{width: calc(100% / 1.2);}
.warper{width: calc(100% / 1.2);padding: 30px 15px; margin: 0 auto;}
.fb{height: 100%; width:100%;}
.fh{height: 100%;}
.fw{width:100%;}
.ca{text-align: center;}
.la{text-align: left;}
.ra{text-align: right;}
.va{display: flex;align-items: center;}
.wb{background-color: #fff;}
.dib{display: inline-block;}
.borderd{border: 1px solid;border-top-color: rgb(229, 230, 233);border-right-color: rgb(223, 224, 228);border-bottom-color: rgb(208, 209, 213);border-left-color: rgb(223, 224, 228);}

.block{margin: 0 0 10px 0; position: relative;}
.block >div{/*padding: 15px;*/}
.block_title{font-weight:600; margin: 0 0 1px 0;height: 40px;display: flex;align-items: center;}
.block_title span{font-weight:400; padding:8px 2px 6px 2px;margin: 0 20px 0 0; border-bottom: 2px transparent solid; cursor: pointer;}
.block_title span.active{font-weight:600; border-bottom: 2px #1397be solid;}
.block_body div[ref=signup]{display: none;}
.button{margin: 0;white-space:nowrap;text-align: center;color: #fff;cursor: pointer;}
.button.grey:hover{background-color:#e6ebf1;background-image:linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);border-color:rgba(27,31,35,0.35)}
.button.grey:active{background-color:#e9ecef;background-image:none;border-color:rgba(27,31,35,0.35);box-shadow:inset 0 0.15em 0.3em rgba(27,31,35,0.15)}

.blue{background-color: #1397be;}
.green{background-color: #28a745;}
.red{background-color: #d62d20;}
.yellow{background-color: #ffa700;}
.grey{background-color: #eff3f6;background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);border: 1px solid rgba(27,31,35,0.2);color: #24292e;font-weight: 600; font-size: 12px;}
.caption{font-size: 12px; color:#999;text-align: center; margin-top:3px;display: block;position: relative;}
.caption span{background-color: #fff;position: relative; padding: 0 4px;}
.caption:before{content: '';position:absolute;top:50%;left: 0;right: 0;border-top: 1px #ddd solid;}
.social-block{display:block; text-align:center}
.social-ico{background-image: url(social.png);width: 32px;height: 32px;display:inline-block;border: 1px solid #ddd;border-radius:3px;box-sizing:border-box;margin: 2px 2px -7px 2px;cursor: pointer;transition:all 350ms;}
.social-ico.google{background-position: 0 -65px;}
.social-ico.facebook{background-position: 0 -96px;}
.social-ico.linkedin{background-position: 0 -275px;}
.social-ico.twitter{background-position: 0 -320px;}
.social-ico:hover{border: 1px #a2a9b1 solid;}

.worning_msg{background-color: #be4b49;border: 0;border-radius: 2px;box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);color: #fff;position: absolute;left: 0;top: 0;width: 300px;font-size: 13px;padding: 8px;transition:opacity 700ms;opacity: 0;}
.worning_msg:before{content: '';background-image: url(s33.png); background-repeat: no-repeat;background-size: auto;background-position: 0 -13px;position: absolute;left: -10px;top: 38%;height: 22px;width: 11px;}

.alt-h1 {font-size: 37px;font-weight: 300;-webkit-font-smoothing: antialiased;font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;margin: 19px 0;line-height: 1.25 !important;color: #24292e;}
.alt-h2 {font-size: 26px;font-weight: 500;-webkit-font-smoothing: antialiased;font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;margin: 15px 0;line-height: 1.25 !important;color: #24292e;}
.alt-h4 {font-size: 16px;font-weight: 400;-webkit-font-smoothing: antialiased;font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;margin: 0;color: #586069 !important;}


/*--WRAPPER------------------------------------------*/
table, th, td {border: 0; text-align: center;}
.container{height:100%;width:100%;margin:0 auto;padding:0;position:relative}
.header{height:50px;background-color: #fff; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16); margin-bottom: 3px; display: block;}
.body{height:100%;position:relative;padding:0px;transition: all 1s ease-in;}
.footer{height: 200px;background-color:#fff; font-size:12px; color: #666;font-family: Arial,Helvetica,sans-serif;border-top:1px #edebe1 solid;}

/*--HEADER--------------------------------------------*/
.header>div{height:100%;margin:0 auto 0 auto;text-align: left;/*border:1px #a2a9b1 solid; */}
.header>div{display: flex;flex-flow:row nowrap;justify-content:flex-start;align-items:center;}
.header>div>span{padding: 15px;}

/*--BODY---------------------------------------------*/

	/*--HOME PAGE-------------------------------------------------*/
	.intro{background: linear-gradient(150deg, #0e4b4c 20%, #116466 80%); text-align: left;color:#fff;}
	.intro1{font-weight: 300;font-size: 3rem; padding: 100px 0 0 0; }
	.intro2{font-weight: bold;font-size: 4rem; padding: 60px 0 0 0; }


	/*--EXPLORER-------------------------------------------------*/
	#ajax-content{display: inline-block;vertical-align: top;position: relative;width: 720px;z-index: 0}
	#ajax-loader {display: flex;justify-content: center;align-items: center;position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color:#f7f8f9;opacity:0.7;}
	#ajax-loader > div{vertical-align:middle;text-align:center;}


/*--FOOTER------------------------------------------*/
.footer>div{height:100%;padding:20px 15px 0 15px;margin:0 auto 0 auto;text-align: left;}
.footer span{margin-right:21px;}
.language{position:relative;padding-left:21px;}
.language:before{content:'';position:absolute; left:0;top:0;width: 16px;height: 16px;overflow: hidden;background-image: url(ico.png);background-position: 0 -1860px;}
.copy{font-size:10px; color: #999;margin:20px 0 0 0;}
